body {
  font-family: -apple-system, BlinkMacSystemFont, Segee UI, Roboto, Okygen-Sans,
    Ubuntu, Cantarell, Melveritica, Neue, sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #d0021b;
}
.languages {
  display: flex;
  justify-content: center;
}

.languages li {
  margin: 10px;
  font-weight: bold;
  cursor: pointer;
}
.reset {
  border: none;
  background: transparent;
  color: #d0021b;
  display: block;
  width: 100%;
  text-align: center;
}

.reset:hover {
  cursor: pointer;
}
.popular-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.popular-item {
  margin: 20px;
  text-align: center;
}

.space-list-items,
.card-list {
  margin: 20px 0;
  font-size: 20px;
}

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.popular-rank {
  font-size: 20px;
}

.nav {
  display: flex;
}

.active {
  font-weight: bold;
}

.nav li {
  margin-right: 15px;
}

.home-container,
.row,
.column {
  display: flex;
}

.home-container {
  flex-direction: column;
  align-items: center;
}

.row {
  justify-content: space-around;
}
.column {
  flex-direction: column;
  width: 500px;
  align-items: center;
}

.column .input {
  border-radius: 2px;
  margin: 10px 0;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.43);
  font-size: 16px;
  width: 80%;
}
.column label {
  text-align: center;
  font-size: 30px;
  font-weight: 200px;
}

.header {
  font-size: 30px;
  text-align: center;
  font-weight: 200px;
}

.button {
  color: #e6e6e6;
  background: #0a0a0a;
  border: none;
  font-size: 16px;
  border-radius: 3px;
  width: 200px;
  text-align: center;
  display: block;
  padding: 7px 0;
  margin: 10px auto;
}

.button:hover {
  background: linear-gradient(#1a1a1a, #0a0a0a);
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.space-around {
	justify-content: space-around;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.repo {
  margin: 10px 0;
  width: 250px;
  padding: 20px;
}

.card-list li {
  display: flex;
  align-items: center;
  margin: 10px;
}

.card-list svg {
  margin-right: 10px;
}

.repo a {
  text-decoration: none;
}

.repo img {
  margin-bottom: 8px;
}

.bg-light {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}
